In [59]:
UNDER_20 = [
    "Zero", "One", "Two", "Three", "Four", "Five", "Six", "Seven", "Eight", "Nine",
    "Ten" , "Elevel", "Twelve", "Thirteen", "Fourteen", "Fifteen", "Sixteen",
    "Seventeen", "Eighteen", "Nineteen"
]

In [60]:
TENS = [
    "", "", "Twenty", "Thirty", "Forty", "Fifty", "Sixty", "Seventy", "Eighty", "Ninety"
]

In [71]:
ABOVE_100 = {
    100: "Hundred",
    1000: "Thousand",
    1000000: "Million",
    1000000000: "Billion",
    1000000000000: "Trillion"
}

In [106]:
def check_valid():
    assert num_to_word(0) == "Zero"
    assert num_to_word(23) == "Twenty Three"
    assert num_to_word(148) == "One Hundred Forty Eight"
    assert num_to_word(26987) == "Twenty Six Thousand Nine Hundred Eighty Seven"
    assert num_to_word(100000000000) == "One Hundred Billion"

In [103]:
def num_to_word(num: int):
    if num < 20:
        return UNDER_20[num]
    elif num < 100:
        return TENS[num // 10] + (" "+UNDER_20[num % 10] if num%10 != 0 else "")
    
    pivot = max([key for key in ABOVE_100.keys() if key <= num])
    p1 = num_to_word(num // pivot)
    p2 = ABOVE_100[pivot]

    # if num % pivot == 0:
    #     return f'{p1} {p2}'
    
    return f'{p1} {p2}{" " + num_to_word(num % pivot) if num % pivot != 0 else ""}'

In [105]:
num_to_word(201)

'Two Hundred One'

In [18]:
from cachetools import cached, TTLCache
ttl_cache = TTLCache(3000,30)

@cached(ttl_cache)
def factoriel(n):
    if n == 0:
        return 1
    else:
        print(f"calling factoriel({n-1}) from factoriel({n})")
        return n * factoriel(n-1)

In [19]:
factoriel(5)

calling factoriel(4) from factoriel(5)
calling factoriel(3) from factoriel(4)
calling factoriel(2) from factoriel(3)
calling factoriel(1) from factoriel(2)
calling factoriel(0) from factoriel(1)

120

In [43]:
from cachetools import cached, TTLCache

cache = TTLCache(4,3)
@cached(cache)
def fib(n):
    # base case: if nis 0 or 1, returns the same number
    if n <= 0:
        return 1
    elif n == 1 :
        return 1
    # recursie case: F(n) = F(n-1) + F(n-2)
    else:
        return fib(n-1) + fib(n-2)

In [45]:
fib(1000)

70330367711422815821835254877183549770181269836358732742604905087154537118196933579742249494562611733487750449241765991088186363265450223647106012053374121273867339111198139373125598767690091902245245323403501

In [48]:
def sum_list(numbers: list[int]) -> int:
    if numbers == []:
        return 0
    else:
        head, *tail = numbers
        return head + sum_list(tail)

In [53]:
tmp_list = 10 * [1,2,3,4,5,6,7,8,9,7,10,6,2,1111,222,336,4,566884,648646,46848,64648,22,111,22,33,66,55,44,77,88,99,55,66,44,22,33,55,66,11,22,33,555,55555,9987,6654,3321,126,459,786,453]
sum_list(tmp_list)

14076890

In [54]:
def sum_of_natural_numbers(n: int):
    if n == 1:
        return 1
    return n + sum_of_natural_numbers(n-1)

In [56]:
sum_of_natural_numbers(100)

5050